<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjKUdCai9q-oTMg_TKjqOAuJIDRyUBRCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>727169909427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-a6f6a</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-a6f6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727169909427:ios:24a79f8b1bbbb44ffd26c6</string>
</dict>
</plist>